footer{
    background: var(--color-secondary);
    width: 110%;
    display: flex;
    
    justify-content: center;
    
}

footer .listmenu ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    align-items: center;
}
footer .listmenu ul li{
list-style: none;
}