:root{
    --color-primary:rgb(176, 64, 168);
    --color-secondary: rgb(56, 200, 168);
    --color-lightgrey: #707070;
    --color-darkgrey: #474545;
    --color-institucional: #00b1c7;
    --font-ppal: 'Encode Sans';
    --font-body: 'Roboto';
}