:root{
    --color-primary:#b040a8;
    --color-secondary: #38c8a8;
    --color-lightgrey: #707070;
    --color-darkgrey: #474545;
    --color-institucional: #00b1c7;
    --font-ppal: 'Encode Sans';
    --font-body: 'Roboto';
}