
/* si modificamos el color debemos modificar tablaFiltro.js AplicarFiltro() linea 50 */
.color1{
    background: rgb(213, 240, 213);
}
.color2{
    background: rgb(177 199 177);
}

.red{
    color: red;
}
.orange{
    color:orange
}
.blacking{
    color: black;
}
.tablaFiltro td{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.tablaFiltro table{
    border-top: 20px solid var(--color-secondary);
    border-radius: 10px;

}

/*TABLA*/
table
thead
tr{
    background: rgb(203, 248, 203);
    border: 1px solid black;
    color: black;
    font-weight: bolder;
}

.tdCargo{

    color: var(--color-primary);
    font-weight: bold;
}