@media screen and (max-width:750px){

    .contenedorDesplegable{
        width: 90%;
    }
    .btnShowDesplegable{
        font-size: 2rem;
    }
    #filtrarContenedorFila{
        flex-direction: column;
    }

    footer .listmenu ul{
        display: flex;
        flex-direction: column;
    }

    .menuDestock{
        display: none;
    }
}

@media screen and (width>=750px){
    .menuCel{
        display: none;
    }
}